<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script src="/js/jquery.visible.min.js"></script> <!-- detect visibility in viewport -->

<link rel="stylesheet" type="text/css" href="/css/animate.css"> <!-- order matter, animate must be 1st -->
  <link rel="stylesheet" type="text/css" href="/css/swingAnimation.css">
  <link rel="stylesheet" type="text/css" href="/css/flickerAnimation.css">
  <link rel="stylesheet" type="text/css" href="/css/rotateInUpLeftAnimation.css">
  <link rel="stylesheet" type="text/css" href="/css/rubberbandAnimation.css">

<link rel="stylesheet" type="text/css" href="/css/fadeIn.css">

  <title> Mind Myth Films </title>
  <style>

  a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }


  nav
  {
    position: fixed;
    float: left;
    left: 0px;
    top:0px;
    overflow-y: auto;
    width: 280px;
    background-color:#282828;
    height: 100%;
    z-index: 999;
  }
  .nav_btn
  {
    display: block;
    background-color:#282827;
    color: white;
    font-size: 1.1em;
    text-align: center;
    padding: 20px;
    margin-top: 1.1px;
    margin-bottom: 1.1px;
    transition-duration: 0.5s;
  }
  .nav_btn:hover
  {
    background-color: #303030;

  }
  #menu_btn_container{
    width: 100%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }

  #pagesContainer
  {
    margin-left: 280px;
    background-color: rgb(240,240,240);
    padding-left:50px;
    height: 100%;
  }
  h1::before
  {
    -webkit-animation: flickerAnimation 1s infinite;
   -moz-animation: flickerAnimation 1s infinite;
   -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;


    content: '';
    padding: 10px;
    margin-right: 6px;
    background-color: rgb(20,20,20);
  }

  .intro_features
  {
    background-color: #dbdbdb;
    transition-duration: 0.6s;
    -webkit-transition-duration:0.6s;
    height: 250px;
    width: 80%;
    padding:10px;
    font-size: 32px;
    text-align: center;

  }

  #homePage
  {
    width: 100%;
    height: 700px;
  }

  .hideItem
  {
    opacity: 0;
  }



  </style>
</head>

<body>



  <nav id="menu">
    <div id="menu_btn_container">
      <a href=""><div class="nav_btn"><p>Home</p></div></a>
      <a href=""><div class="nav_btn"><p>Work Showcase</p></div></a>
      <a href=""><div class="nav_btn"><p>About Us</p></div></a>
    </div>
  </nav>

  <section id="pagesContainer">
  <div class="container-fluid">

    <div id="homePage" class="container-fluid">
      <h1 style="color:black; font-size:50px; padding-top:140px;"> MIND MYTH FILMS </h1>
      <div >
        <div class="row">
          <div class="col-md-4">
            <h2 style="color:rgb(21,20,24)" class="intro_features" id="introfeature_1"> Video Production & Editing </h2>
          </div>
          <div class="col-md-4">
            <h2 style="color:rgb(21,20,24)" class="intro_features" id="introfeature_2"> Professional Photographer </h2>
          </div>
          <div class="col-md-4">
            <h2 style="color:rgb(21,20,24)" class="intro_features" id="introfeature_3"> 15 Years of Experience </h2>
          </div>
        </div>
      </div>
      <!--
      <center>
                        <div id="myCarousel" class="carousel slide" data-ride="carousel" >

                        <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>


                        <div class="carousel-inner">
                        <div class="item active">
                          <img src="/images/enrique_img.jpeg"  style="height:400px;"  alt="Los Angeles">
                        </div>

                        <div class="item">
                          <img src="/images/random_img1.jpeg" style="height:350px; width:550px" alt="Chicago">
                        </div>

                        <div class="item">
                          <img src="/images/enrique_img.jpeg"  style="height:400px;"  alt="New York">
                        </div>
                        </div>

                        </div>
      </center>
    -->

    </div>

    <hr>

    <div id="showcasePage" style="padding-bottom:100px; padding-top:100px;">
      <h1 style="color:black; font-size:55px; padding-bottom:120px;"> Showcase </h1>
      <iframe id="showcase_item1" width="460" height="315" src="https://www.youtube.com/embed/FsC88o0UImc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe id="showcase_item2" width="460" height="315" src="https://www.youtube.com/embed/U1Nind9Xsks" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <hr>

    <div id="aboutUsPage" style="padding-bottom:50px; height:340px">
      <h1 style="color:black; font-size:50px; padding-bottom:100px;"> About Us </h1>
      <img src="/images/enrique_img.jpeg" width="200" height="200" class="img-rounded" style="margin-left:50px;"  alt="Failed to load image"/>
      <div style="float:left; width:50%;">
        <p style="font-size:35px"><b>Jorge Garcia Perez</b></p>
        <p style="font-size:25px">With over 15 years of experience providing video and photography services we made our own receipt for success.
              Let us take care of your marketing material for optimum and quality marketing material. </p>
      </div>
      <div style="margin-top:100px">
        <a href="https://www.facebook.com/profile.php?id=100009093600477"><img src="/images/fb.png" width="35px" height="35px" style="border-radius:50%; margin-bottom:25px"/></a>
      </div>
    </div>
  </div>
  </section>



  <script>



  var elementList = ["#homePage", ".intro_features", "#myCarousel", "#showcase_item1", "#showcase_item2", "#aboutUsPage"];
  var animList    = ["showItem_fadeIn", "showItem_rubberBand" ,"showItem_rotateInUpLeft", "showItem_rotateInUpLeft", "showItem_rotateInUpLeft", "showItem_fadeIn"];

  //hide all
  elementList.forEach(function(itemId, ind){
    $(itemId).addClass('hideItem');
    $(itemId).addClass('animated');
  });

  window.onload = function(){
    $("#homePage").removeClass('hideItem');
    $("#homePage").addClass('showItem_fadeIn');
    $("#myCarousel").removeClass('hideItem');
    $("#myCarousel").addClass('showItem_fadeIn');

  }

  //show as we scroll
  $(window).scroll(function(){
    elementList.forEach(function(itemId, ind){
      //if item in viewport and not visible, set it to be visible
      var checkPartial=true;
      if(ind > 0)
        checkPartial=false;
      if( $(itemId).hasClass('hideItem') && $(itemId).visible(checkPartial)){
        $(itemId).removeClass('hideItem');
        $(itemId).addClass(animList[ind]);
      }
    });
  });
  </script>

</body>

</html>
