<!DOCTYPE html>
<html>
<head>

  <link href="https://fonts.googleapis.com/css?family=Baloo&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poiret+One&display=swap" rel="stylesheet">

  <title> Mind Myth Films </title>
  <style>

  /*
   * Author: http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
   */

  /* Smartphones (portrait and landscape) ----------- */
  html, body{
    background-image: url("/images/bg_img.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
  }
  .centerDiv
  {

    margin:auto;
    top:auto;
    display: flex;
    left:0; right:0;
        top:0; bottom:0;
    padding:50px;
    background-color:rgba(255,255,255,0.956);
    color:black;
    border-radius: 20px;
    position: absolute;
    align-items: center;
    transition-duration: 1s;
  }



  /*         --------------------------    */
  .lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  height: 40px;
  background-color: black;
  animation: lds-facebook 1.7s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 4px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

  @media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px) {
    .centerDiv
    {
      width: 300px;
      height: 400px;
    }
  }

  /* Smartphones (landscape) ----------- */
  @media only screen
  and (min-width : 321px) {
  /* Styles */
  .centerDiv
  {
    width: 300px;
    height: 400px;
  }
  }

  /* Smartphones (portrait) ----------- */
  @media only screen
  and (max-width : 320px) {
  /* Styles */
  }

  /* iPads (portrait and landscape) ----------- */
  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px) {
  /* Styles */
  .centerDiv
  {
    width: 300px;
    height: 400px;
  }
  }

  /* iPads (landscape) ----------- */
  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : landscape) {
  /* Styles */
  .centerDiv
  {
    width: 300px;
    height: 400px;
  }
  }

  /* iPads (portrait) ----------- */
  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : portrait) {
    .centerDiv
    {
      width: 300px;
      height: 400px;
    }
  }

  /* Desktops and laptops ----------- */
  @media only screen
  and (min-width : 1224px) {
  /* Styles */
    .centerDiv{
      width:550px;
      height:300px;
    }
  }

  /* Large screens ----------- */
  @media only screen
  and (min-width : 1824px) {
    .centerDiv
    {
      width: 600px;
      height: 400px;
    }
    #wip_text
    {
      font-size: 45px;
    }
  }

  /* iPhone 4 ----------- */
  @media
  only screen and (-webkit-min-device-pixel-ratio : 1.5),
  only screen and (min-device-pixel-ratio : 1.5) {
  /* Styles */
    .centerDiv
    {
      width: 200px;
      height: 350px;
    }
  }



  </style>
</head>

<body>

  <div class="centerDiv">

    <center>
    <p style="font-family: 'Baloo', cursive; font-size:44px;" id="wip_text"> WORK IN PROGRESS </p>
    <div class="lds-facebook"><div></div> <div></div> <div></div> </div>
    <h3 style="font-family: 'Poiret One', cursive;"> We are under construction, if you are in need of any of our services please contact us : <b>(307) 679-3274</b></h3>
  </center>

  </div>

</body>

</html>
