
  /* FADE IN ANIMATION EFFECT */
  @keyframes fadeIn {
     0% {opacity: 0;}
     100% {opacity: 1;}
  }
  @-webkit-keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
  }
  @-moz-keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
  }
  @-o-keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
  }
  .showItem_fadeIn
  {
    animation: fadeIn 4s;
    -webkit-animation: fadeIn 4s;
  }
