
/* source : https://daneden.github.io/animate.css/ */
@-moz-keyframes swing {
  0%{
    -webkit-opacity:0;
    opacity: 0;
    -moz-opacity:0;
  }
  20% {
    -webkit-opacity:0.2;
    opacity: 0.2;
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    -moz-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    -moz-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-opacity:0.5;
    opacity: 0.5;
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    -moz-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-opacity:1;
    opacity: 1;
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    -moz-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
@-webkit-keyframes swing {
  0%{
    -webkit-opacity:0;
    opacity: 0;
    -moz-opacity:0;
  }
  20% {
    -webkit-opacity:0.2;
    opacity: 0.2;
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    -moz-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    -moz-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-opacity:0.5;
    opacity: 0.5;
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    -moz-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-opacity:1;
    opacity: 1;
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    -moz-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes swing {
  0%{
    -webkit-opacity:0;
    opacity: 0;
    -moz-opacity:0;
  }
  20% {
    -webkit-opacity:0.2;
    opacity: 0.2;
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    -moz-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    -moz-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-opacity:0.5;
    opacity: 0.5;
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    -moz-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-opacity:1;
    opacity: 1;
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    -moz-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.showItem_swing
{
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
}
